html, body {
    font-family: 'Poppins', sans-serif;
}
@mixin button-basic {
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;

    width: 95px;
    height: 37px;
    
    background: linear-gradient(89.8deg, #E53C77 -11.37%, #8380DB 104.55%);
    border-radius: 100px;
}
@mixin button-edu {
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    
    width: 275px;
    height: 41px;
    
    background: linear-gradient(89.8deg, #E53C77 -11.37%, #8380DB 104.55%);
    border-radius: 100px;
}
@mixin button-line {
    padding: 10px 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;

    width: 114px;
    height: 41px;
    
    border: 1px solid #E53C77;
    border-radius: 100px;
}
@mixin button-hero {
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;

    width: 91px;
    height: 41px;
    
    background: linear-gradient(89.8deg, #E53C77 -11.37%, #8380DB 104.55%);
    border-radius: 100px;
}
.hero-heading {
        background: linear-gradient(90deg, #E53C77 0%, #8380DB 103.72%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    
}
#skills-section {
    .col-3 {
        width: 367px;
        height: 274px;
        border-radius: 25px;
        border: 1px solid #E53C77;
        padding: 30px;
        margin-top: 30px;
        column-gap: 30px;
        row-gap: 30px;
        .skills-{
            &myskills {
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 15px;
            }
            &title {
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
            }
            &desc {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

}
#portfolio-section {
    .col-6> {
        div {
            img {
                width: 559px;
                height: 325px;
            }
        }
        
    }
}
#experience-section {
    .colom {
        padding: 30px 30px;
        width: 1139px;
        border: 1px solid #E53C77;
        height: 210px;
        left: 151px;
        top: 3321px;
        border-radius: 25px;
        margin: 30px 0px;
        .experience- {
            &job {
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
                padding-bottom: 8px;
            }
            &years {
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
            }
            &desc {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                padding-top: 14px;
            }
        }
    }
}
