#experience-section {
    background: #0A0909;
    color: white;
    padding-top: 80px;
    .experience- {
        &p {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
        }
        &heading {
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 54px;
            padding-bottom: 30px;
        }
    }
}