#navbar {
    background: #0C0F14 !important;
    padding: 10px;
    .navbar-nav {
        column-gap: 51px;
        margin-right: 46px;
    }
    .navbar- {
        &toggler {
          color: white;  
        }   
    }
        .item > a{
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.6);
            padding: 0;
            text-decoration: none;
        }
        .item > a:hover {
            cursor: pointer;
            color: white;
            font-style: normal;
        }
        .item > a:active {
            cursor: pointer;
            color: white;
            font-style: normal;
            border-bottom: 1px solid #E53C77;
        }
        .nav-btn {
            @include button-basic;
        }
    }
