#portfolio-section {
    background: #0A0909 !important;
    color: white;
    padding-top: 80px;
    .portfolio- {
        &p {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
        }
        &heading {
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 54px;
            padding-bottom: 30px;
        }
        &title {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            padding-top: 30px;
        }
        &desc {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            padding: 20px 0;
        }
        &btn-line {
            @include button-line;
            margin-bottom: 70px;

        }
    }
}