#skills-section {
    padding-top: 80px;
    background: #0A0909 !important;
    color: white;
    .skills-{
        &p {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            padding-bottom: 4px;
            line-height: 30px;
        }
        &heading {
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 54px;
        }
    }
}